In [20]:
# Dependencies
import numpy as np
import pandas as pd

# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [2]:
engine = create_engine("sqlite:///hawaii.sqlite")

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [3]:
# Create our session (link) from Python to the DB
session = Session(engine)

## D1: Determine the Summary Statistics for June

In [15]:
# 1. Import the sqlalchemy extract function.
from sqlalchemy import extract

# 2. Write a query that filters the Measurement table to retrieve the temperatures for the month of June. 
results = session.query(Measurement.date, Measurement.tobs).\
    filter(extract('month',Measurement.date)==6).all()

In [18]:
#  3. Convert the June temperatures to a list.
june_temperature_list = list(np.ravel(results))

In [26]:
# 4. Create a DataFrame from the list of temperatures for the month of June. 
june_temperature_df = pd.DataFrame(results, columns = ["date", "temperature"])
june_temperature_df.set_index(june_temperature_df['date'], inplace = True)
june_temperature_df = june_temperature_df.sort_index()
june_temperature_df.head()

                  date  temperature
date
2010-06-01  2010-06-01         78.0
2010-06-01  2010-06-01         73.0
2010-06-01  2010-06-01         77.0
2010-06-01  2010-06-01         69.0
2010-06-01  2010-06-01         76.0

In [27]:
# 5. Calculate and print out the summary statistics for the June temperature DataFrame.
june_temperature_df.describe()

       temperature
count  1700.000000
mean     74.944118
std       3.257417
min      64.000000
25%      73.000000
50%      75.000000
75%      77.000000
max      85.000000

## D2: Determine the Summary Statistics for December

In [29]:
# 6. Write a query that filters the Measurement table to retrieve the temperatures for the month of December.
results2 = session.query(Measurement.date, Measurement.tobs).\
    filter(extract('month',Measurement.date) == 12).all()

In [32]:
# 7. Convert the December temperatures to a list.
december_tmps_list = list(np.ravel(results2))

In [33]:
# 8. Create a DataFrame from the list of temperatures for the month of December. 
december_tmps_df = pd.DataFrame(results2, columns = ['date', 'temperature'])
december_tmps_df.set_index(december_tmps_df['date'], inplace = True)
december_tmps_df.head()

                  date  temperature
date
2010-12-01  2010-12-01         76.0
2010-12-03  2010-12-03         74.0
2010-12-04  2010-12-04         74.0
2010-12-06  2010-12-06         64.0
2010-12-07  2010-12-07         64.0

In [35]:
# 9. Calculate and print out the summary statistics for the Decemeber temperature DataFrame.
december_tmps_df.describe()

       temperature
count  1517.000000
mean     71.041529
std       3.745920
min      56.000000
25%      69.000000
50%      71.000000
75%      74.000000
max      83.000000